# Hourly scraping
name: R

# Controls when the action will run.
on:
  push:
    branches: main

jobs: 
  autoscrape:
    # The type of runner that the job will run on
    runs-on: macos-latest

    # Load repo and install R
    steps:
    - uses: actions/checkout@master
    - uses: r-lib/actions/setup-r@master
    
    # Set-up R
    - name: Install packages
      run: |
        R -e 'install.packages("readr", dependencies=TRUE)'
    
    # Run R script
    - name: Scrape
      run: Rscript prueba2.R
      
    - name: Commit files
      run: |
        git config --local user.name actions-user
        git config --local user.email "actions@github.com"
        git add data_output
        git commit -m "GH ACTION Headlines $(date)"
        git push origin main
      env:
        REPO_KEY: ${{secrets.GITHUB_TOKEN}}
        username: github-actions
